<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rabbit{% endblock %}</title>
    <link rel = "icon" href = "static/img/rabbit-logo.png"
        type = "image/x-icon">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/rabbitStyles.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {% block links %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-light white" id="navbar_principal">
  <a class="navbar-brand" >
     <img src="static/img/rabbit-logo.png" class="img" height="30px">
  </a>

    {% if not request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <button class="btn btn-sm my-0 btn-outline-primary" type="button" onclick="modal_login()">
                    Login
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary btn-sm my-0 ml-3" type="button" onclick="modal_register()">
                    Sign up
                </button>
            </li>
            <li class="nav-item dropdown">
                <a class="my-1 mr-5 ml-3 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-primary">
                     <a class="dropdown-item" onclick="modal_register()"><i class="fas fa-user-plus"></i>  Register</a>
                     <a class="dropdown-item" onclick="modal_login()"><i class="fas fa-sign-in-alt"></i> Log in</a>
                 </div>
            </li>
        </ul>

        {% else %}
         <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                    <a  class="my-1" href="{% url 'submit' %}"><i class="fas fa-pen cyan-text"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="my-1 mr-5 ml-3 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle mr-2"></i> {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-primary">
                     <a class="dropdown-item" href="/logout#">Log out</a>
                 </div>
            </li>
        </ul>

    {% endif %}
</nav>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<div class="container">
    {% block content-body %}

    {% endblock %}
</div>

</body>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

{% block more-scripts %}

{% endblock %}

<script type="text/javascript">

    let modalLoginLoaded = false;
    let modalRegisterLoaded = false;
    let modalRegister = $('#modalRegisterForm');
    let modalLogin = $('#modalLoginForm');
    function modal_register(){
        if(modalRegisterLoaded){
            modalRegister.modal('show');
        }
        else{
            $.ajax({
                method: 'GET',
                url: "{% url 'register' %}",
                success: (data) => {
                    modalRegister.html(data);
                    $('#modalRegisterForm').modal('show');
                    modalRegisterLoaded = true;
                }
            });
        }
    }

    function modal_login(){
        if(modalLoginLoaded){
            modalLogin.modal('show');
        }
        else{
            $.ajax({
                method: 'GET',
                url: "{% url 'login' %}",
                success: (data) => {
                    modalLogin.html(data);
                    modalLogin.modal('show');
                    modalLoginLoaded = true;
                }
            });
        }
    }

</script>


</html>