<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rabbit{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {% block links %} {% endblock %}
</head>
<body>

<nav class="navbar navbar-dark white">
  <a class="navbar-brand" >
     <i class="fas fa-registered fa-2x prefix text-info"></i>
  </a>
    <button class="btn btn-primary btn-sm my-0" type="button" data-toggle="modal" data-target="#modalRegisterForm">
        Sign up
    </button>
</nav>
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% include 'registrationForm.html' %}
</div>

{% block content-body %}
{% endblock %}
</body>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</html>