<li>
    <p>Posted by <a style="color:#000000" href="/r/{{node.value.user}}"><b>{{node.value.user}}</b></a> at {{node.value.creation_date}}</p>
    <p>{{ node.value.text }}</p>
    {% if request.user.is_authenticated %}
    <button class="btn btn-primary" type="reply">Reply comment</button>
    <form action="{% url 'comment' post.id node.value.id  %}" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <button class="btn btn-primary" type="submit">Comment</button>
    </form>
    <ul>
    {% for ch in node.children %}
        {%with node=ch template_name="comments.html" %}
           <div style="width: 5px"></div> {%include template_name%}
        {%endwith%}
    {% endfor %}
    </ul>
    {% endif %}
</li>