{% extends 'base.html' %}

{% block more-scripts %}
    <script>
    function deletePost(id) {
        var uri = location.protocol + '//' + location.host + "/delete/" + id;
        $('#yes_btn').click(function () {
           $.ajax({
               method : 'POST',
               url: uri,
               data:{
                   'csrfmiddlewaretoken':'{{ csrf_token }}',
               },
               success: (data) =>{
                   if(data.status === 'ok'){
                       location.reload();
                   }
                   else if(data.status === 'error'){
                       alert(data.message);
                   }
               }
           });
        });
        $('#modalConfirmDelete').modal('show');
    }
    </script>
{% endblock %}