{% extends 'base.html' %}

{% block content-body %}
    {% for post in lastPost %}
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text text-muted h6">Posted by <b>{{ post.user }}</b> at {{ post.creation_date }} </p>
                <a href="{% url 'post' post.id %}"><h2 class="card-title text-muted">{{ post.title | safe }}</h2></a>
                {% if post.description %}
                    <p class="card-text">{{ post.description | safe }}</p>
                {% elif post.img %}
                    <img src= "{{ post.img.url }}" class="img-fluid" alt="img" />
                {% elif post.link %}
                    <a href={{ post.link }}>{{ post.link }}</a>
                {% endif %}

                {% ifequal  post.user|stringformat:"s"  request.user.username|stringformat:"s"   %}
                    <a href="#!" class="black-text d-flex justify-content-end"><i class="fas fa-trash"></i></a>
                {% endifequal %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
