{% extends 'base.html' %}

{% block content-body %}

    {% for post in lastPost %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-m-2">
                        {% if post.profile_img %}
                        <img src= "{{ post.profile_img.url }}"  alt="img" style="width: 70px" />
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'warren' post.name  %}">
                            <p class="card-text"><b> w/{{ post.name | safe }}</b></p>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{ post.description | safe }}</p>
                    </div>
                <form id="{{ post.name }}form">
                    {% csrf_token %}
                    {% if post in suscribing %}
                        <a class="btn btn-primary" onclick="suscribe('{{ post.name }}');">UnSuscribe</a>
                    {% else %}
                        <a class="btn btn-outline-primary" onclick="suscribe('{{ post.name }}');">Suscribe</a>
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    {% endfor %}
     {% for u in users %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-m-2">
                        <a href="{% url 'profile' u.username %}">
                            <p class="card-text"><b> r/{{ u.username | safe }}</b></p>
                            <form id="{{ u.username }}form">
                                {% csrf_token %}
                                {% if u in following %}
                                    <a class="btn btn-primary" onclick="follow('{{ u.username }}');">UnFollow</a>
                                {% else %}
                                    <a class="btn btn-outline-primary" onclick="follow('{{ u.username }}');">Follow</a>
                                {% endif %}
                            </form>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block more-scripts %}
    <script>
    var follow = (username) => {
        let data = $('#' + username + 'form').serialize() + "&username=" + username;
             $.ajax({
                method: 'POST',
                url: "{% url 'follow' %}",
                data: data,
                success: (data) => {
                    if (data.status === 'ok') {

                    } else {
                        alert(data.message);
                    }
                }
            });
        };

    var suscribe = (name) => {
        let data = $('#' + name + 'form').serialize() + "&name=" + name;
             $.ajax({
                method: 'POST',
                url: "{% url 'suscribe' %}",
                data: data,
                success: (data) => {
                    if (data.status === 'ok') {

                    } else {
                        alert(data.message);
                    }
                }
            });
        };
    </script>
{% endblock %}