<div class="modal fade" id="modalselectreport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-primary" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Select a report</p>
      </div>

      <!--Body-->
      <div class="modal-body">
          <select class="browser-default custom-select">
              <option value="" disabled selected>Choose the cause of the report</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
          </select>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-left">
        <a href="" class="btn btn-primary" id="yes_btn">Send</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
