{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">What's Rabbit about</h5>
        <div class="card-body">
            <p class="card-text"> A community to post and share everything you want.
                Register and begin sharing your thougts, links and memes. </p>
            <p class="card-text"> Remember before posting:</p>
            <ul>
                <li class="card-text">Respect others users</li>
                <li class="card-text">Behave like you would in real life</li>
                <li class="card-text">Posting memes can be and addictive and cause severe procrastination</li>
            </ul>
        </div>
    </div>
</div>

{% endblock sidebar %}