{% extends 'base.html' %}
{% block content-body %}
    {% for post in posts %}
       <div class="card mb-4">
            <div class="card-body">
            <p class="card-text text-muted h6">

            {% if post.warren %}
                <a  class="card-text text-muted h6" href="{% url 'warren' post.warren.name %}">
                    {% if post.warren.profile_img %}
                    <img class="img-fluid" src="{{ post.warren.profile_img.url }}" style="width: 25px;height: 25px;border-radius: 50%">
                    {% endif %}
                    <b>w/{{ post.warren.name }}</b></a>
            {% endif %}
                    • Posted by <a class="card-text text-muted h6" href="{% url 'profile' post.user %}"><b>r/{{ post.user }}</b></a>
                    at {{ post.creation_date }}
            </p>
                <a href="{% url 'post' post.id %}"><h2 class="card-title text-muted">{{ post.title | safe }}</h2></a>
                {% if post.description %}
                    <p class="card-text">{{ post.description | safe }}</p>
                {% endif %}
                {% if post.img %}
                    <img src= "\media\{{ post.img }}" class="img-fluid" alt="img" />
                {% endif %}
                {% if post.link %}
                    <a href={{ post.link}}>{{ post.link }}</a>
                {% endif %}
                {% if post.user == request.user %}

                    <div class="float-right">
                        <a href="#" class="my-1" onclick="deletePost('{{ post.id }}')"><i class="fas fa-trash small cyan-text"></i></a>
                    </div>

                {% endif %}
            </div>

        </div>
    {% endfor %}

    {% include 'confirm_delete.html' %}

{% endblock %}


{% block sidebar %}
    <!-- Sidebar Widgets Column -->
    <div class="card my-4">
        <h5 class="card-header"><b>r/{{user}}</b> profile page</h5>
        <div class="card-body">
            <p class="card-text"> This is <b>{{user}}</b> rabbit profile page. Here you'll find all post and information regarding the user</p>
        </div>
        {% if request.user != user %}
        <div class="card-body">
            <a  class="my-1"  href=""><i class="fas fa-user-friends small cyan-text"></i>
            <button class= "btn btn-sm btn-outline-primary my-0 ml-3" type="button">FOLLOW TODO</button>
            </a>
        </div>
    {% endif %}
    </div>

    {% if request.user == user %}
    <div class="card my-4">
        <div class="card-body">
            <p class="card-text"> Share a post or start a new community.</p>
            <a  class="my-1" href="{% url 'submit' %}"><i class="fas fa-pen cyan-text"></i>
                <button class="btn btn-primary btn-sm my-0 ml-3" type="button">CREATE POST</button>
            </a>
        </div>
      <div class="card-body">
            <a  class="my-1" href="{% url 'warren_submit' %}"><i class="fas fa-plus-circle cyan-text"></i>
                <button class="btn btn-primary btn-sm my-0 ml-3" type="button">NEW WARREN</button>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="card my-4">
            <h5 class="card-header">Community rules</h5>
        <div class="card-body">
             <p class="card-text"> Remember before posting:</p>
            <ul>
                <li class="card-text">Respect others users</li>
                <li class="card-text">Behave like you would in real life</li>
                <li class="card-text">Look for the original source of content</li>
                <li class="card-text">Search for duplicates before posting</li>
                <li class="card-text">Read the community’s rules</li>
            </ul>
        </div>
    </div>
    <div class="card my-4">
            <h5 class="card-header">Rabbit disclaimer</h5>
        <div class="card-body">
             <p class="card-text"> Posting memes can be addictive and cause severe procrastination.</p>
             <p class="card-text"> In no event shall Rabbit Inc be liable for any loss, personal damage, misuse of personal information or privacy breach</p>
        </div>
    </div>
{% endblock sidebar %}

{% block more-scripts %}
    <script>
    function deletePost(id) {
        var uri = location.protocol + '//' + location.host + "/delete/" + id;
        $('#yes_btn').click(function () {
           $.ajax({
               method : 'POST',
               url: uri,
               data:{
                   'csrfmiddlewaretoken':'{{ csrf_token }}',
               },
               success: (data) =>{
                   if(data.status === 'ok'){
                       location.reload();
                   }
                   else if(data.status === 'error'){
                       alert(data.message);
                   }
               }
           });
        });
        $('#modalConfirmDelete').modal('show');
    }
    </script>
{% endblock %}